.container {
  display: flex;
  flex-direction: column;
}

.coal-result,
.yearly-avg-cost-chart,
.cumulated-cost-chart {
  display: flex;
  padding: 40px 0;
}

.info-card {
  height: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
}
