.container {
  display: flex;
  flex-direction: column;
}

.coal-result,
.yearly-avg-cost-chart,
.cumulated-cost-chart {
  display: flex;
  padding: 40px 0;
}

.coal-result { 
  justify-content: space-evenly;
}

.termo-info {
  text-align: justify;
  text-justify: inter-word;
  padding: 30px;
}

.termo-text-secondary {
  margin-top: 15px;
}

.results {
  color: #81a736;
}

.info-card {
  height: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
}

.info-section {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 30%;

  p {
    text-align: left;
  }
}
h3 {
  font-weight: 700;
  font-size: 20px;
  color: rgba(168, 194, 71);
}
.bold {
  font-weight: 700;
  color: rgba(168, 194, 71);
}
