
.mat-button-toggle-checked {
    background-color: rgba(129,167,54);
    color: white;
  }

.contact-us {
    width: 40%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: rgba(216, 233, 151, 1);
}

.bold {
    font-weight: 700;
}

.flex-style {
    display: flex;
    align-items: center;
}

.desc {
    margin-left: 10px;
}

.footer {
    height: 200px;
}

.cost-section {
    margin: 10px 0;
}

.cost-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}