<div class="cost-section-container">
    <mat-button-toggle-group [(ngModel)]="selectedSource" name="heatingSourceCost" appearance="legacy">
        <mat-button-toggle *ngFor="let heatingSource of heatingSourcesToApply" [value]="heatingSource.description">
            {{heatingSource.description}}</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-card class="cost-section">
        <div *ngIf="selectedSource; then costTemplate else emptyTemplate"></div>
        <ng-template #costTemplate>
        <h4 class="bold">{{selectedSource}}</h4>
            <p>Taka inwestycja kosztuje średnio 20 000 zł, w tym nowy kocioł kosztuje od 10 000 - 12 000 zł.</p>
            <p><span class="bold">Mamy dla Ciebie dobrą wiadomość!</span> Możesz uzyskać zwrot do <span class="bold">10 000
                    zł</span> ubiegając się o
                dotację!</p>
        </ng-template>
        <ng-template #emptyTemplate>
            <h4 class="bold">Wybierz inwestycję, którą chcesz sprawdzić!</h4>
        </ng-template>
    </mat-card>
</div>

<app-grant-information></app-grant-information>

<div class="footer"></div>
<mat-card class="contact-us">
    <h3 class="bold">Potrzebujesz pomocy? </h3>
    <h3> Zadzwoń do nas i upewnij się, że dotacja Ci przysługuje!</h3>
    <p class="bold">Biuro Zarządzania Energią i Ochroną Środowiska</p>
    <div class="flex-style">
        <mat-icon>call</mat-icon>
        <span class="desc bold">43 825 02 37</span>
    </div>
    <div class="flex-style">
        <mat-icon>home</mat-icon>
        <span class="desc">ul. Stefana Złotnickiego 3, budynek nr 5, pokój 502</span>
    </div>
</mat-card>