.grant-info {
    display: flex;

    
    h3 {
        font-weight: 700;
    }

}

.info-section {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 30%;

    p {
        text-align: left;
    }
}

.arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-section {
    width: 30%;
    display: flex;
    margin: 5px;
    flex-direction: column;
}


.contact-us {
    width: 40%;
    align-items: flex-end;
    right: 0;
    bottom: 0;
    position: absolute;
}

.bold {
    font-weight: 700;
}

.desc {
  margin-left: 10px;
}