<h2>STOP Smog</h2>
<div class="grant-info">
    <mat-card class="info-section">
        <h3>Kto może otrzymać dotację?</h3>
        <p>Program adresowany jest do mieszkańców Zduńskiej Woli, właścicieli nieruchomości, w której zainstalowano
            piec
            węglowy.</p>
        <p>Dotacja może pokryć <span class="bold">wymianę pieca opalanego węglem</span>, a także <span
                class="bold">przyłączenie budynku do sieci ciepłowniczej lub
                gazowej.</span></p>
    </mat-card>

    <div class="arrow-right">
        <mat-icon>arrow_forward</mat-icon>
    </div>

    <mat-card class="info-section">
        <div>
            <h3>Ile można zyskać?</h3>
            <p>Maksymalna możliwa dotacja - <span class="bold">5000 zł</span>.</p>
            <p>Może pokryć tylko <span class="bold">50% kosztów inwestycji</span>.</p>
        </div>
    </mat-card>


    <div class="arrow-right">
        <mat-icon>arrow_forward</mat-icon>
    </div>

    <mat-card class="link-section">
        <div>
            <h3>Brzmi ciekawie? Sięgnij po więcej informacji!</h3>
            <p>
                <a mat-mini-fab color="primary" [href]='link'>
                    <mat-icon>link</mat-icon>
                </a>
                Strona urzędu
            </p>
            <p>
                <a mat-mini-fab color="primary"
                    href='http://zdunskawola.pl/images/luty_2020/Wniosek_z_zalacznikami.pdf'>
                    <mat-icon>download</mat-icon>
                </a>
                Wniosek o dotację
            </p>
        </div>
    </mat-card>
</div>


<mat-card class="contact-us">
    <h3 class="bold">Potrzebujesz pomocy? </h3>
    <h3> Zadzwoń do nas i upewnij się, że dotacja Ci przysługuje!</h3>
    <p class="bold">Biuro Zarządzania Energią i Ochroną Środowiska</p>
    <div class="flex-style">
        <mat-icon>call</mat-icon>
        <span>43 825 02 37</span>
    </div>
    <div class="flex-style">
        <mat-icon>home</mat-icon>
        <span>ul. Stefana Złotnickiego 3, budynek nr 5, pokój 502</span>
    </div>
</mat-card>