.calculator-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

mat-button-toggle-group {
    width: min-content;
    margin-bottom: 20px;
}

.bottom-margin-5 {
    margin-bottom: 5px;
}

.submit-button {
    margin: 1.34375em 0;
    width: 60px;
    align-self: flex-end;
}