<div class="calculator-form">
    <mat-form-field appearance="outline">
        <mat-label>Adres</mat-label>
        <input type="text" placeholder="Ulica" aria-label="Number" matInput [formControl]="streetInput"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let street of streets | async" [value]="street">
                {{street}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Obecne źródło ogrzewania</mat-label>
        <mat-select>
            <mat-option *ngFor="let heatingSource of heatingSources" [value]="heatingSource.value">
                {{heatingSource.description}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-label>Miejsce zamieszkania</mat-label>
    <mat-button-toggle-group name="thermalInsulation" appearance="legacy">
        <mat-button-toggle value="singleFamily">Dom jednorodzinny</mat-button-toggle>
        <mat-button-toggle value="multiFamily">Zabudowa wielorodzinna</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field appearance="outline">
        <mat-label>Powierzchnia użytkowa w m2</mat-label>
        <input type="number" min="30" max="400" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Liczba mieszkańców</mat-label>
        <mat-select>
            <mat-option *ngFor="let number of familyMemberNumber" [value]="number">
                {{number}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="submit-button-container">
        <button mat-raised-button color="primary" matStepperNext>Oblicz</button>
    </div>
</div>