.calculator-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.mat-button-toggle-checked {
  background-color: rgba(129,167,54);
  color: white;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 2px !important;
}

mat-label {
  margin-top: 20px;
  margin-bottom: 5px;
}

mat-form-field {
  margin-top: 20px;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgba(129,167,54);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgba(129,167,54);
 }

 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(129,167,54);
 }

 ::ng-deep .mat-form-field-should-float .mat-focused {
  color: rgba(129,167,54);
 }

mat-button-toggle-group {
    width: min-content;
    margin-bottom: 20px;
}

.bottom-margin-5 {
    margin-bottom: 5px;
}

.submit-button-container {
    margin: 1.34375em 0;
    width: 100px;
    align-self: flex-end;
    button {
      width: 100%;
  }
}

.check-icon {
  color: green;
  padding-right: 5px;
}

.info-icon {
  color: rgb(250, 221, 80);
  padding-right: 5px;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.info-container {
  margin-bottom: 3px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width:767px) {
    .calculator-form {
        padding: 0;
    }

    .submit-button-container {
        width: 100%;
        margin: 1.34375em 0;
        align-items: center;
    }
}
