.calculator-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

mat-button-toggle-group {
    width: min-content;
    margin-bottom: 20px;
}

.bottom-margin-5 {
    margin-bottom: 5px;
}

.submit-button-container {
    margin: 1.34375em 0;
    width: 100px;
    align-self: flex-end;
    button {
      width: 100%;
  }
}

.check-icon {
  color: green;
  padding-right: 5px;
}

.info-icon {
  color: rgb(250, 221, 80);
  padding-right: 5px;
}

.info {
  display: flex;
  align-items: center;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width:767px) {
    .calculator-form {
        padding: 0;
    }

    .submit-button-container {
        width: 100%;
        margin: 1.34375em 0;
        align-items: center;
    }
}
