@import '~@angular/material/theming';

* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.spacer {
  flex: 1 1 auto;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 50%;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(186, 225, 224);
  color: white;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}

.container .btn:hover {
  background-color: rgb(168, 194, 71);
}

@media (max-width: 767px) {
  .page-container {
    margin: 5px;
    display: flex;
  }

  .content-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.mat-toolbar.mat-primary {
  background:rgba(168,194, 71);
  color: #fff;
}

::ng-deep .mat-step-header .mat-step-icon-selected, 
::ng-deep .mat-step-header .mat-step-icon-state-done, 
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background:rgba(168,194, 71);
  color: #fff;
}

::ng-deep .mat-flat-button.mat-primary, 
::ng-deep .mat-raised-button.mat-primary, 
::ng-deep .mat-fab.mat-primary, 
::ng-deep .mat-mini-fab.mat-primary {
  background:rgba(168,194, 71);
  color: #fff;
}