<mat-toolbar color="primary">
  <span>Kalkulator kosztów ogrzewania</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>remove_red_eye</mat-icon>
  </button>
</mat-toolbar>

<div class="page-container">
  <mat-horizontal-stepper #stepper [linear]="false" class="content-container">
    <mat-step>
      <ng-template matStepLabel>Wypełnij formularz</ng-template>
      <app-calculator-form></app-calculator-form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Zobacz wyniki</ng-template>
      W ciągu ostatnich lat ceny węgla kształtowały się następująco:
      <app-coal-price-chart></app-coal-price-chart>
      <app-average-yearly-cost-chart></app-average-yearly-cost-chart>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Zdobądź dotacje</ng-template>
      <app-coal-price-chart></app-coal-price-chart>
    </mat-step>
  </mat-horizontal-stepper>
</div>
