* {
    box-sizing: border-box;
  }
  
.page-container {
    display: flex;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.spacer {
    flex: 1 1 auto;
}
  

@media (max-width:767px) {
  .page-container {
      margin: 5px;
      display: flex;
  }

  .content-container {
      width: 100%;
      justify-content: center;
      align-items: center;
  }
}