<div class="container" *ngIf="!isInitialized">
  <button
    mat-raised-button
    class="btn"
    color="primary"
    (click)="initializePage()"
  >
    Rozpocznij
  </button>
  <img class="images" src="../assets/startPage.jpg" />
</div>
<mat-toolbar color="primary" *ngIf="isInitialized">
  <span>Kalkulator kosztów ogrzewania</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Contrast">
    <mat-icon>remove_red_eye</mat-icon>
  </button>
</mat-toolbar>

<div class="page-container" *ngIf="isInitialized">
  <mat-horizontal-stepper #stepper [linear]="false" class="content-container">
    <mat-step>
      <ng-template matStepLabel>Wypełnij formularz</ng-template>
      <app-calculator-form></app-calculator-form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Zobacz wyniki</ng-template>
      <app-results></app-results>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Zdobądź dotacje</ng-template>
      <app-grant-summary></app-grant-summary>
    </mat-step>
  </mat-horizontal-stepper>
</div>
